<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">7guis</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/"
      >Home <span class="sr-only">(current)</span></a
    >
    <a class="nav-item nav-link" routerLink="/counter" routerLinkActive="active"
      >Counter</a
    >
    <a
      class="nav-item nav-link"
      routerLink="/temperature"
      routerLinkActive="active"
      >Temperature</a
    >
    <a
      class="nav-item nav-link"
      routerLink="/flight-booker"
      routerLinkActive="active"
      >Flight booker</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
